/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

header {
    padding: 0 20px;
}

footer {
    padding: 0 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 900px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.border {
    border: 1px solid #eaeaea;
    border-radius: 15px;
    margin-bottom: 15px;
}

.text-big {
    font-size: 18px;
}


.invisible {
    visibility: hidden;
}

#cart {
    text-align: center;
    padding-left: 5px;
    border-left: 1px solid #eaeaea;
    align-items: stretch;
}

.cart-header {
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    background: #eaeaea;
    width: 100%;
    margin-bottom: 5px;
}

.data {
    margin-bottom: 50px;
}

.product {
    align-items: stretch;
    margin: 20px;
}

.categories-image {
    width: 200px;
    height: 200px;
    margin: 15px 0;
}

.small-picture {
    width: 50px;
    height: 50px;
}

.categories-product-title {
    margin: 15px 0;
}

.important-text {
    font-size: 16px;
}

.description {
    text-align: justify;
    padding: 0 25px;
}

#category-products > div > div > a {
    margin-bottom: 15px;
}

#category:hover {
    cursor: pointer;
    background: #1e699f;
    color: #ffffff;
}

#cart-products > div > div {
    line-height: 50px;
}

.cart-product {
    padding: 10px;
    margin-bottom: 15px;
}

.glyphicon-remove {
    color: red;
}

#btn-buy {
    margin-bottom: 15px;
    align-self: flex-end;
}

.product-info {
    margin-bottom: 10px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e5e5e5;
}